@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;600&family=Noto+Sans:wght@400;700&display=swap');
@import 'node_modules/select2/src/scss/core.scss';
@import 'node_modules/select2/src/scss/core.scss';
@import 'scss/reset';
@import 'scss/variables';
@import 'scss/animations';
@import 'scss/layout';
@import 'scss/tooltip';
@import 'scss/a';
@import 'scss/button';
@import 'scss/utils';
@import 'scss/pre';
@import 'scss/panel';
@import 'scss/table';
@import 'scss/page-header';
@import 'scss/form';
@import 'scss/alert';
@import 'scss/toast';
@import 'scss/tabs';
@import 'scss/dialog';
@import 'scss/boxes';
@import 'scss/wizard';
@import 'scss/quick-menu';
@import 'scss/tiles';
@import 'scss/badge';
@import 'scss/markdown';
@import 'scss/dropdown-menu';
