@import 'variables';

.btn {
  border: 2px solid;
  border-radius: 0.25rem;
  padding: 0.5rem;

  font-weight: 400;
  font-family: "Noto Sans", sans-serif;
  cursor: pointer;

  transition: all 0.15s ease;

  &:disabled {
    background-color: $gray-400 !important;
    border-color: $gray-400 !important;
    color: $gray-600 !important;
    cursor: default !important;

    &:hover {
      box-shadow: none;
    }
  }

  &.btn-sm {
    font-size: 0.85rem;
    padding: 0.25rem 0.5rem;
  }

  &.btn-y-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &.btn-outline {
    background-color: transparent;
    border: none;

    &:hover {
      color: $white !important;
    }
  
    &.btn-primary {
      background-color: transparent;
      color: $green;
      box-shadow: none;

      &:hover {
        background-color: $green;
      }
    }
  
    &.btn-secondary {
      background-color: transparent;
      color: $blue;
      box-shadow: none;

      &:hover {
        background-color: $blue;
      }

      &.btn-no-hover {
        &:hover {
          color: $blue !important;
          background-color: transparent;
        }
      }
    }  

    &.btn-danger {
      background-color: transparent;
      color: $red;
      box-shadow: none;

      &:hover {
        background-color: $red;
      }
    }

    &.btn-default {
      background-color: transparent;
      color: var(--text-secondary);
      box-shadow: none;

      &:hover {
        background-color: $gray-500;
      }

      &.btn-no-hover {
        &:hover {
          color: $gray-700 !important;
          background-color: transparent;
        }
      }
    }

    &.primary-hover {
      &:hover {
        background-color: $green;
      }
    }

    &.secondary-hover {
      &:hover {
        background-color: $blue;
      }
    }

    &.danger-hover {
      &:hover {
        background-color: $red;
      }
    }
  }

  &:hover {
    color: $white;
    box-shadow: 0 0 0.5rem 0 $gray-600;
  }

  &.btn-primary {
    border-color: $green;
    background-color: $green;
    color: $white;

    &:hover {
      background-color: $green;
    }
  }

  &.btn-secondary {
    border-color: $blue;
    background-color: $blue;
    color: $white;

    &:hover {
      background-color: $blue;
    }
  }

  &.btn-muted {
    border-color: $gray-700;
    background-color: $gray-700;
    color: $white;

    &:hover {
      background-color: $gray-700;
    }
  }

  &.btn-danger {
    border-color: $red;
    background-color: $red;
    color: $white;

    &:hover {
      background-color: $red;
    }
  }

  &.btn-wide {
    width: 100%;
  }
}
