.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: 1rem;

  .card-tile {
    max-width: 32rem;
    height: 16rem;
    background-color: var(--panel-background);
    border-radius: 0.3rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: space-between;

    &:hover {
      box-shadow: 0 0.125rem 1.25rem rgba(0,0,0,0.1);
      cursor: pointer;
    }

    .card-body {
      margin: auto;

      .hero-icon {
        font-size: 3rem;
      }
    }

    &.blue-gradient {
      color: $white;
      background-image: linear-gradient(to right top, #614dff, #6d5bfd, #7969fa, #8476f7, #8f83f4);
    }

    &.green-gradient {
      color: $white;
      background-image: linear-gradient(to right top, #06d198, #05c992, #03c28c, #01ba86, #00b380);
    }

  }
}

