.dialog-lite-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  // z-index: 3001;
}

// TODO: Responsiveness

.modal {
  .modal-dialog {
    background-color: white;
    width: 48rem;
    border-radius: 0.5rem;

    .modal-content {
      .modal-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        padding: 1rem;

        .modal-title {
          font-size: 1.5rem;
        }

        a {
          color: $gray-600;
          cursor: pointer;

          &:hover {
            color: $gray-800;
          } 
        }
      }

      .modal-body {
        padding: 1rem;
        margin-bottom: 1rem;
        min-height: 10rem;
        max-height: 48rem;
        overflow-y: auto;

        font-family: "Noto Sans", sans-serif;
      }

      .modal-footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        padding: 1rem;
        background-color: $gray-100;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
    }
  }

  @media only screen and (max-width: 820px) {
    .modal-dialog {
      width: 32rem;
    }
  }

  @media only screen and (max-width: 620px) {
    .modal-dialog {
      width: 22rem;
    }
  }
}