$key-background: $gray-800;
$key-colour: $gray-100;

.keyboard-entry {
  margin-bottom: 1rem;
  padding: 1rem;

  background-color: var(--table-background);
  border-radius: 0.3rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.keyboard-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .keyboard-seperator {
    padding: 1rem;
    font-size: 1.25rem;
  }


  .keyboard {
    position: relative;
    display: inline-flex;
    justify-content: center;
    color: $key-colour;
    background: $key-background;
    font-family: "JetBrains Mono", sans-serif;
  
    border-radius: 0.3rem;
    min-height: 3rem;
    min-width: 3rem;
    margin: 0.1rem;
    
    &::before {
      position: absolute;
      display: block;
      content: '';
      background: fade-out(invert($key-background), .75);
      border-radius: 0.3rem;
      top: 0.3rem;
      right: 0.5rem;
      left: 0.5rem;
      bottom: 0.8rem;
    }
  
    &.keyboard-lg {
      min-width: 5rem;
      
      .char {
        top: 0.25rem;
        left: -0.5rem;
        transform: scale(.75);
      }
    }
  
    .char {
      padding: 0 1rem;
      position: absolute;
      top: 0.5rem;
    }
  }
}

