.breadcrumbs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.85rem;

  .bc-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .childen {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
  
    .entry {
      color: var(--text-muted);
  
      &:hover {
        color: var(--text-primary);
      }
  
      &.current {
        color: var(--text-muted);
      }
    }
    
    .seperator {
      color: var(--text-muted);
      margin: 0rem 1rem;
  
      &:only-child {
        margin: 0rem;
      }
    }
  }

  .bc-links {

  }
}

.page-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  margin-top: -1rem;
  margin-bottom: 1.5rem;

  .title {
    margin-top: 1rem;
    margin-right: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
  }

  .actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: end;
    
    margin-left: auto;
    margin-top: 1rem;
    
    *:not(:last-child) {
      margin-right: 0rem;
    }
  }
}

.section-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  overflow-x: auto;
  
  margin: 1rem 0;

  h4 {
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Noto Sans", sans-serif;
  }

  .section-actions {
    
  }
}