.menu-container {
  width: 100%;

  .menu-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: opacity(0.95);
    transition: all $transition-time ease;
    border-radius: 3px;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      cursor: pointer;

      i {
        font-size: 1.75rem;
      }
    }

    &.active {
      background: $blue;
      color: $white;
      cursor: pointer;

      i {
        font-size: 1.75rem;
        color: $white;
      }

      .menu-link-text {
        color: $white;
      }

      .sub-link-text {
        color: $gray-200;
        font-size: 0.75rem;
      }
    }

    & i {
      width: 2rem;
      min-width: 2rem;
      margin: 0 1.5rem;
      text-align: center;
      transition: font-size $transition-time ease;
    }

    .menu-link-text {
      transition: opacity $transition-time ease-out;
      transition-delay: $popout-time;
      color: var(--text-primary);
    }

    .sub-link-text {
      color: var(--text-secondary);
      font-size: 0.75rem;
    }


  }

}