$tile-margin: 1rem;
$tile-min-width: 20rem;
$double-tile-min-width: 40rem;

.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: ($tile-margin + 0.5rem) (-$tile-margin + 0.25rem) 0;
  padding-bottom: calc($tile-margin * 2);

  .tile {
    flex: 1 0 $tile-min-width;
    // margin: $tile-margin $tile-margin 0 $tile-margin;
    margin: 0 ($tile-margin - 0.25rem);

    // max-width: 60rem;

    box-sizing: border-box;
    //text-align: center;
    //padding: 1rem;

    &.double {
      flex: 2 0 $double-tile-min-width;
    }

    &.full {
      flex: 1 0 calc(100% - $tile-margin * 4);
    }

    &.with-bg {
      background-color: #f8f9fa;
      border: 1px solid #dee2e6;
      border-radius: 0.25rem;
    }
  }
}

@media (max-width: 40rem) {
  .tile-container {
    .tile.double {
      flex: 1 0 $tile-min-width;
    }
  }
}
